<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <img src="../../../../assets/icons8-school-64.png" alt="Logo" width="64" height="64" class="d-inline-block align-text-top">
    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-2">LABSchool Manager</span>
    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-4" id="usuario">Usuário logado</span>

    <ul class="nav nav-pills my-3">
      <li class="nav-item"><a routerLink="home" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="estudantes" class="nav-link">Alunos</a></li>
      <li class="nav-item"><a routerLink="acompanhamentos" class="nav-link">Acompanhamentos</a></li>
      <li class="nav-item"><a class="nav-link" (click)="logout()">Sair</a></li>
    </ul>
  </header>
</div>