<div class="container">

  <h1 class="mb-3">Cadastro</h1>

  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" name="name" id="nome" formControlName="nome">
          <label for="name">Nome</label>
          <span *ngIf="ErroMsg('nome')">
              Campo obrigatório
          </span>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-floating mb-3">
                  <input type="tel" name="cel" id="cel" class="form-control"
                      formControlName="cel" mask="(00) 00000-0000">
                  <label for="cel">Celular</label>
                  <span *ngIf="ErroMsg('cel')">
                      Campo obrigatório
                  </span>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="date" name="nasc" id="nasc" class="form-control" formControlName="nasc">
                <label for="nasc">Data de nascimento</label>
                <span *ngIf="ErroMsg('nasc')">
                    Campo obrigatório
                </span>
            </div>
        </div>
      </div>
      <div class="form-floating mb-3">
          <input type="text" name="cpf" id="cpf" class="form-control" formControlName="cpf" mask="000.000.000-00">
          <label for="cpf">CPF</label>
          <span *ngIf="ErroMsg('cpf')">
              Campo obrigatório
          </span>
      </div>
      <div class="form-floating mb-3">
          <input type="email" name="email" id="email" class="form-control" formControlName="email">
          <label for="email">E-mail</label>
          <span *ngIf="ErroMsg('email')">
             Campo obrigatório
          </span>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-floating mb-3">
                  <input type="password" name="password" id="password" class="form-control"
                      formControlName="pass">
                  <label for="password">Senha</label>
                  <span *ngIf="ErroMsg('pass')">
                      Campo obrigatório
                  </span>
                  <span *ngIf="ErroPass('pass')">
                      Senha deve ter 8 dígitos
                  </span>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                    formControlName="confirmaPass">
                <label for="confirmPassword">Confirmar senha</label>
                <span *ngIf="ErroMsg('confirmaPass')">
                  Campo obrigatório
                </span>
                <span *ngIf="ErroPass('confirmaPass')">
                  Senha deve ter 8 dígitos
                </span>
                <span *ngIf="ErroConfirmaPass()">
                    Senhas não batem
                </span>
            </div>
        </div>
      </div>
      <div class="d-grid gap-2 col-12 mx-auto">
          <button type="submit" class="btn btn-primary" style=" background-color: #11b039; color: black;">Cadastrar</button>
      </div>
  </form>
</div>